@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-color: #090a0f;
}

img {
  user-select: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.logo img {
  height: 24px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons a,
button {
  font-family: "JetBrains Mono";
  font-size: medium;
  border: solid;
  border-radius: 6px;
  border-color: #090a0f;
  background: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.nav-buttons a:hover,
button:hover {
  background-color: #1f2025;
  border-color: #1f2025;
}

.page-users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 22px;
}

.page-users.developers,
.page-users.staff,
.page-users.admins,
.page-users.moderators,
.page-users.contributors {
  grid-template-rows: 17em;
}

.page-users.qa {
  grid-template-rows: 17em 17em 17em;
}

.page-user {
  background-color: #0c0d11;
  border-radius: 8px;
  text-align: center;
}

.page-user img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.page-user h3 {
  font-family: "JetBrains Mono";
  font-weight: 600;
  font-size: 150%;
  color: whitesmoke;
}

.page-text {
  padding-top: 6em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 2.5em;
}

.page-text h1 {
  font-family: "JetBrains Mono";
  font-weight: 1000;
  font-size: 350%;
  color: whitesmoke;
}

.page-text h2 {
  font-family: "JetBrains Mono";
  font-weight: 600;
  font-size: 275%;
  color: whitesmoke;
  padding-top: 1.5em;
}

.page-text p.description {
  font-family: "JetBrains Mono";
  font-size: 150%;
  color: grey;
}

.page-text p.description.small {
  font-size: 100%;
}

.page-text p,
li {
  font-family: "JetBrains Mono";
  font-size: 150%;
  color: whitesmoke;
}

.page-buttons {
  padding-left: 2%;
  padding-top: 5%;
  display: flex;
  gap: 20px;
}

.page-buttons a {
  font-family: "JetBrains Mono";
  font-size: x-large;
  background: none;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  cursor: pointer;
  width: 17%;
  line-height: 50px;
  color: black;
  text-align: center;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(97, 97, 97);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 73, 73);
}